.InputTextBox {
    height: 56px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
}

.InputTextBox input {    
    color: white;
    height: 56px;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.InputTextBox input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.InputTextBox input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.InputTextBox input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.InputTextBox input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
