.TodoListItem {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 7px;
}

.TodoListItem input[type=text] {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    color: white;
    font-size: calc(12px + 2vmin);
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;

    flex-grow: 1;
}

.Btns {
    flex-direction: column;
}

.BtnComplete {
}

.BtnDelete {
    
}

img {
    filter: invert(40%);
    cursor: pointer;
}

img:hover {
    filter: invert();
    cursor: pointer;
}